@model Data.Models.ProductDetail

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>ProductDetail</h4>
<hr />

<form class="row g-3 was-validated" asp-action="Update" method="post">
    <div class="form-floating col-md-4">
        <input asp-for="ImportPrice" type="number" class="form-control" placeholder="ImportPrice"
               required>
        <label for="">Giá nhập</label>
        <span asp-validation-for="ImportPrice" class="text-danger"></span>
    </div>
    <div class="form-floating col-md-4">
        <input asp-for="Price" type="number" class="form-control" placeholder="giabangoc" required>
        <label for="">Giá bán</label>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-floating col-md-4">
        <input asp-for="AvailableQuantity" type="number" class="form-control" placeholder="AvailableQuantity" required>
        <label for="">Số lượng </label>
    </div>
    <div class="form-floating col-md-6">
        <input asp-for="Description" type="text" class="form-control" placeholder="Description" required>
        <label for="">Mô tả</label>
    </div>
    <div class="form-floating col-md-6">
        <input asp-for="Status" type="text" class="form-control" placeholder="Status" required>
        <label for="">Tình trạng</label>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
